doctype html
html
  head
    title JGS EC-LOG
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/honoka/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/lib/honoka/dist/css/bootstrap.min.css')
  body
    div(class='container')
      block content
